body{
	margin: 0;
}

.sol { 
    width: 150px;
    height: 150px;
    background-color: #fffa00;
    border-radius: 50%;
    position: static;
}

.casageneral{
 height: 100%;
 width: 100%;
 position: relative;
 left: 600px;
}

	.techo {
		top: 0px;
	    width: 390px;
	    border-right: 60px solid transparent;
	    border-left: 60px solid transparent;
	    border-bottom: 150px solid #7e827e;

	}
		.chimenea {
	    width: 30px;
	    height: 61px;
	    background: #ef0707;
	    position: absolute;
	    left: 361px;
	    top: 60px;
	    z-index: 2;
	}

	.humo1 { 
	    width: 30px;
	    height: 30px;
	    background-color: #e8e8e8;
	    border-radius: 50%;
	  	z-index: 2;
	}

	.cuadrado {
	     width: 500px; 
	     height: 300px; 
	     background: #935908;

	}

	.puerta {
	     width: 200px; 
	     height: 100px; 
	     background: #1337d8; /*azul*/
	     z-index: 2; 
	}

	.ventana {
	     width: 50px; 
	     height: 50px; 
	     background: #eb07ef; /*rosado*/
	     z-index: 2; 
	}


.pasto{
     width: 100%; 
     height: 100px; 
     bottom: 0;
     background: #1a9207;
     position: absolute;
}