body{
	margin: 0;
}

.sol { 
	margin-top: 10px;
	margin-left: 10px;
    width: 150px;
    height: 150px;
    background-color: #fffa00;
    border-radius: 50%;
    position: static;
}

.casageneral{
 height: 100%;
 width: 100%;
 position: relative;
 left: 600px;
}

	.techo {
		margin-top: -150px;
		margin-left: -5px;
		top: 0px;
	    width: 390px;
	    position: absolute;
	    border-right: 60px solid transparent;
	    border-left: 60px solid transparent;
	    border-bottom: 150px solid #7e827e;

	}
	.chimenea {
		margin-left: -45px;
	    width: 30px;
	    height: 70px;
	    background: #ef0707;
	    position: absolute;
	    left: 361px;
	    top: 60px;
	}

	.humo1 { 
		margin-left: 25px;
		margin-top: -37px;
	    width: 30px;
	    height: 30px;
	    background-color: #e8e8e8;
	    border-radius: 50%;
	}
		.humo2 { 
		margin-left: 63px;
		margin-top: -51px;
	    width: 30px;
	    height: 30px;
	    background-color: #d3d3d3;
	    border-radius: 50%;
	}
		.humo3 { 
		margin-left: 97px;
		margin-top: -58px;
	    width: 30px;
	    height: 30px;
	    background-color: #bababa;
	    border-radius: 50%;
	}

	.cuadrado {
		 margin-top: 134px;
	     width: 500px; 
	     height: 300px; 
	     background: #935908;
	     position: relative;

	}

	.puerta {
	     position: absolute;
	     margin-left: 80px;
	     margin-top: -200px;
	     width: 120px; 
	     height: 200px; 
	     background: #1337d8; /*azul*/

	}

	.ventana {
		 position: absolute;
	     margin-left: 267px;
    	 margin-top: -170px;
	     width: 80px; 
	     height: 80px; 
	     background: #eb07ef; /*rosado*/
	}
	
	#heart {
		margin-left: 10px;
		margin-top: 45px;
	    position: relative;
	    width: 100px;
	    height: 90px;
	}
	#heart:before,
	#heart:after {
	    position: absolute;
	    content: "";
	    left: 50px;
	    top: 0;
	    width: 50px;
	    height: 80px;
	    background: red;
	    -moz-border-radius: 50px 50px 0 0;
	    border-radius: 50px 50px 0 0;
	    -webkit-transform: rotate(-45deg);
	       -moz-transform: rotate(-45deg);
	        -ms-transform: rotate(-45deg);
	         -o-transform: rotate(-45deg);
	            transform: rotate(-45deg);
	    -webkit-transform-origin: 0 100%;
	       -moz-transform-origin: 0 100%;
	        -ms-transform-origin: 0 100%;
	         -o-transform-origin: 0 100%;
	            transform-origin: 0 100%;
	}
	#heart:after {
	    left: 0;
	    -webkit-transform: rotate(45deg);
	       -moz-transform: rotate(45deg);
	        -ms-transform: rotate(45deg);
	         -o-transform: rotate(45deg);
	            transform: rotate(45deg);
	    -webkit-transform-origin: 100% 100%;
	       -moz-transform-origin: 100% 100%;
	        -ms-transform-origin: 100% 100%;
	         -o-transform-origin: 100% 100%;
	            transform-origin :100% 100%;
	}

.pasto{
     width: 100%; 
     height: 100px; 
     bottom: 0;
     background: #1a9207;
     position: absolute;
}
